<html>
    <header>
        <title>Senha incorreta</title>
        <script>
            alert("Senha incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </header>
</html>